<!-- Page Header -->
<header class="masthead" style="background-image: url('../../../assets/clean-blog/img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <div class="site-heading">
          <h1>{{ 'home.siteHeading' | translate }}</h1>
          <span class="subheading">{{ 'home.subHeading' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <div *ngIf="categories != null" class="title"> {{ 'categories.title.prefix' | translate }} {{ categories.length }} {{'categories.title.suffix' | translate}}</div>
      <div *ngFor="let category of categories">
        <a [routerLink]="['/categories/',category.name, 1]">{{ category.name }} ({{category.total}})</a>
      </div>
    </div>
  </div>
</div>
