<!-- Comment -->
<div class="container font-small">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">

      <comment-view [comments]="comments" (contentEvent)="getReplyComment($event)" ></comment-view>

      <div class="well" id="comment">
        <h4>{{ 'comment.leaveComment' | translate }}</h4>

        <form [formGroup]="commentForm" (ngSubmit)="sendComment()" role="form" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls" [ngClass]="{'has-error': formErrors.nickname}">
              <label>{{ 'comment.nickname' | translate }}</label>
              <input formControlName="nickname" type="text" class="form-control" placeholder="{{ 'comment.nickname' | translate }}">
              <p *ngIf="formErrors.nickname" class="help-block text-danger">
                {{ formErrors.nickname }}
              </p>
            </div>
          </div>
          <div class="control-group" >
            <div class="form-group floating-label-form-group controls" [ngClass]="{'has-error': formErrors.email}">
              <label>{{ 'comment.email' | translate }}</label>
              <input formControlName="email" type="email"   class="form-control" placeholder="{{ 'comment.email' | translate }}">
              <p *ngIf="formErrors.email" class="help-block text-danger">
                {{ formErrors.email }}
              </p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls"  [ngClass]="{'has-error': formErrors.content}">
              <label>{{ 'comment.content' | translate }}</label>
              <textarea formControlName="content" rows="5" class="form-control" placeholder="{{ 'comment.content' | translate }}"></textarea>
              <p *ngIf="formErrors.content"  class="help-block text-danger">
                {{ formErrors.content }}
              </p>
            </div>
          </div>
          <p *ngIf="formErrors.formError"  class="help-block text-danger">
            {{ formErrors.formError }}
          </p>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button [disabled]="commentForm.invalid" type="submit" class="btn btn-secondary" >{{ 'comment.submit' | translate }}</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>

