<div *ngFor="let comment of comments">
  <div class="media">
    <div class="pull-left">
      <span class="media-object"></span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ comment.username }}
        <small class="pull-right">{{ comment.time }}&nbsp;|&nbsp;<a href="{{url}}" (click)="reply(comment)" >{{ 'comment.reply' | translate }}</a></small>
      </h4>
       {{ comment.content }}
      <hr>
      <comment-view *ngIf="comment.cComments != null" [comments]="comment.cComments" (contentEvent)="transferToParent($event)"></comment-view>
    </div>
  </div>
</div>
