<!-- Page Header -->
<header class="masthead" style="background-image: url('../../../assets/clean-blog/img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <div class="site-heading">
          <h1>{{ 'home.siteHeading' | translate }}</h1>
          <span class="subheading">{{ 'tags.subHeading' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <div *ngIf="tags != null" class="title"> {{ 'tags.title.prefix' | translate }} {{ tags.length }} {{'tags.title.suffix' | translate}}</div>
      <span *ngFor="let tag of tags">
        <a [routerLink]="['/tags/',tag.name, 1]" [ngStyle]="{'font-size': tag.font, 'color': tag.color }">{{ tag.name }}</a>
      </span>
    </div>
  </div>
</div>


