<!-- Page Header -->
<header class="masthead" style="background-image: url('../../../assets/clean-blog/img/about-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <div class="page-heading">
          <h1>{{ 'home.siteHeading' | translate }}</h1>
          <span class="subheading">{{ 'about.subHeading' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <p [innerHTML]="about.content | html"></p>
    </div>
  </div>
</div>
