<!--The whole content below can be removed with the new code.-->

<!-- Navigation -->

<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" href="/">{{ 'app.homeBlog' | translate }}</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="">{{ 'app.homePage' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="categories">{{ 'app.categories' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tags">{{ 'app.tags' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">{{ 'app.about' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div>
  <router-outlet></router-outlet>
</div>
<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
      </div>
    </div>
  </div>
</footer>
