<!-- Page Header -->
<header class="masthead" style="background-image: url('../../assets/clean-blog/img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <div class="site-heading">
          <h1>{{ 'app.siteHeading' | translate }}</h1>
          <span class="subheading">{{ 'app.subHeading' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <div *ngFor="let article of articles" class="post-preview">
        <a href="../assets/clean-blog/post.html">
          <h2 class="post-title">
            {{ article.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ article.subtitle }}
          </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">{{ article.author }}</a> on {{ article.time }}</p>
      </div>
      <hr>

      <!-- Pager -->
      <div class="clearfix">
        <a *ngIf="!page.isFirst" class="btn btn-secondary float-left" href="#">&larr; {{ 'home.newer' | translate }}</a>
        <a *ngIf="!page.isLast" class="btn btn-secondary float-right" href="#">{{ 'home.older' | translate }} &rarr;</a>
      </div>
    </div>
  </div>
</div>
